<style>
    ul, li {
        list-style: none;
        box-sizing: border-box;
    }

    .wrap {
        /*width: 320px;*/
        width: 100%;
        /*height: 480px;*/
        /*overflow: hidden;*/
    }

    .tabs {
        width: 100%;
        /*border-left: 3px solid #B9B9B9;*/
        /*border-right: 3px solid #B9B9B9;*/
        overflow-x: hidden;
        display: -webkit-box;
        display: flex;
        /*box-shadow: inset 0 -30px 50px 0 #888888;*/
        /*background-color: rgba(0, 0, 0, 0.5);*/
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        border-bottom: 1px solid #dedede;
        position: relative;
    }

    .tab-list {
        -webkit-flex: 1 0 auto;
        flex: 0 0 auto;
        text-align: left;
        width: 100%;
        position: relative;
    }

    .tab-list img {
        -webkit-user-drag: none;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .tab-list .bottom_text {
        width: 100%;
        color: white;
        position: absolute;
        margin-top: -19px;
        line-height: 15px;
        height: 15px;
        padding: 2px 8px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .tab-list.active .bottom_text {
        color: white;
        background-color: unset;
    }
</style>
<div class="wrap">
    <!-- start -->
    <ul id="ul_list" class='tabs'>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994841279.png">
            <div class="bottom_text">
                <label class="overflow_text_one">123123123123</label>
            </div>
        </li>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994632423.png">
            <div class="bottom_text">
                <label class="overflow_text_one">123123123123</label>
            </div>
        </li>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994632423.png">
            <div class="bottom_text">
                <label class="overflow_text_one">123123123123</label>
            </div>
        </li>
    </ul>
</div>