<style>
    .tabs::-webkit-scrollbar-track {
        background-color: unset;
    }

    .tabs::-webkit-scrollbar {
        /*width: 20px;*/
        height: 7px;
    }

    .tabs::-webkit-scrollbar-thumb {
        background-color: #B9B9B9;
        /*border-radius: 50%;*/
    }

    ul, li {
        list-style: none;
        box-sizing: border-box;
    }

    .wrap {
        /*width: 320px;*/
        width: auto;
        /*height: 480px;*/
        /*overflow: hidden;*/
    }

    .tabs {
        width: 400px;
        /*border-left: 3px solid #B9B9B9;*/
        /*border-right: 3px solid #B9B9B9;*/
        overflow-x: hidden;
        display: -webkit-box;
        display: flex;
        /*box-shadow: inset 0 -30px 50px 0 #888888;*/
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        border-bottom: 1px solid #dedede;
        position: relative;
    }

    .tab-list {
        -webkit-flex: 1 0 auto;
        flex: 0 0 auto;
        text-align: left;
    }

    .tab-list img {
        -webkit-user-drag: none;
        width: 400px;
        height: 400px;
        border-radius: 1%;
        object-fit: cover;
    }

    .tab-list .teacher_name {
        max-width: 100px;
        color: black;
        border-radius: 5px;
        font-size: 12px;
        line-height: 15px;
        height: 19px;
        padding: 2px 8px;
        background-color: #EEEEEE;
    }

    .tab-list.active .teacher_name {
        color: white;
        background-color: unset;
    }
</style>
<div id="drag" style="background-color: red;width: 100px;height: 100px;">

</div>
<div class="wrap">
    <!-- start -->
    <ul id="ul_list" class='tabs'>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994841279.png">
            <div class="teacher_name overflow_text_one">
                <label>123123123123</label>
            </div>
        </li>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994632423.png">
            <div class="teacher_name overflow_text_one">
                <label>123123123123</label>
            </div>
        </li>
        <li index="{{i}}" class='tab-list' item="{{item}}">
            <img src="https://wlypublic.oss-cn-beijing.aliyuncs.com/image/2020-03/1583994632423.png">
            <div class="teacher_name overflow_text_one">
                <label>123123123123</label>
            </div>
        </li>
    </ul>
    <!-- end -->
    <div class="settle" style="text-align: center;padding-top: 20px;">
        <table style="text-align: center;width: 300px;display: inline-table;">
            <tr>
                <td>
                    <button id="head_btn" class="btn_secondary main_bg">首</button>
                </td>
                <td>
                    <button id="previous_btn" class="btn_secondary main_bg">上一个</button>
                </td>
                <td>
                    <button id="next_btn" class="btn_secondary main_bg">下一个</button>
                </td>
                <td>
                    <button id="last_btn" class="btn_secondary main_bg">末</button>
                </td>
            </tr>
        </table>
    </div>
</div>